<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Keywords" content="情報処理技術者試験,情報処理技術者,応用情報,高度試験,過去問題,過去問" />
    <meta name="Description" content="応用情報技術者、高度試験の過去問題のメモ" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>応用情報技術者試験対策 - 過去問まとめ</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/thumbnail-gallery.css" rel="stylesheet">

  </head>

  <body id="apexam">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">応用情報技術者試験対策</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="../index.html">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <h1 class="my-4 text-center text-lg-left">平成29年 春期 エンベデッドシステムスペシャリスト</h1>


      <!-- Portfolio Item Heading -->
      <h1 class="my-4">
        <small>午前II 問01</small>
      </h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
          <p id="question01">スーパスカラの説明はどれか。</p>
          <p id="question02">A：処理すべきベクトルの長さがベクトルレジスタより長い場合、ベクトルレジスタ長の組に分割して処理を繰り返す方式である。</p>
          <p id="question03">B：パイプラインを更に細分化することによって、高速化を図る方式である。</p>
          <p id="question04">C：複数のパイプラインを用い、同時に複数の命令を実行可能にすることによって高速化を図る方式である。</p>
          <p id="question05">D：命令語を長く取り、一つの命令で複数の機能ユニットを同時に制御することによって高速化を図る方式である。</p>
        </div>

        <div class="col-md-4">
          <p id="ansTitle01">回答</p>
          <a class="btn btn-lg btn-secondary btn-block" href="#" role="button" onClick="alert();">ア</a>
          <a class="btn btn-lg btn-secondary btn-block" href="#" role="button">イ</a>
          <a class="btn btn-lg btn-secondary btn-block" href="#" role="button">ウ</a>
          <a class="btn btn-lg btn-secondary btn-block" href="#" role="button">エ</a>
        </div>

      </div>

      <h3 class="my-4">解説</h3>

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <p id="result01" class="btn-block">正解</p>
            <p id="answer01" class="btn-block">答え ウ</p>

          <ul id="answer02" class="list-unstyled"><li>ア ベクトルプロセッサの説明です</li><li> イ スーパパイプラインの説明です</li><li> ウ スーパスカラの説明です</li><li> エ VLIW(Very Long Instruction Word、超長命令語)の説明です</li><li> 【キーワード】 ・スーパスカラ 【キーワードの解説】 スーパスカラ(superscalar) CPUのアーキテクチャの一つで、命令レベルを並列化して、1度に複数の命令を処理することで高速化を行う技術です</li><li> CPUで複数の命令を1度に処理するためには、整数演算処理部と小数点演算処理部のような、冗長な実行ユニットを使います</li><li> もっと、「スーパスカラ」について調べてみよう</li></ul>
        </div>

      </div>

      <h3 class="my-4">Related Projects</h3>

      <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
          <a class="btn btn-lg btn-secondary btn-block" href="#" role="button">最初へ</a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <a class="btn btn-lg btn-secondary btn-block" href="#" role="button">前へ</a>
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <a class="btn btn-lg btn-secondary btn-block" href="#" role="button">次へ</a>
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <a class="btn btn-lg btn-secondary btn-block" href="#" role="button">最後へ</a>
          </a>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Omoikane-llc 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../scripts/jquery.js"></script>
    <script src="../scripts/bootstrap.bundle.js"></script>
    <script src="../scripts/apexam.shell.js"></script>
    <script src="../scripts/apexam.layouts.js"></script>
    <script src="../scripts/apexam.home.js"></script>
    <script src="../scripts/apexam.menu.js"></script>
    <script src="../scripts/apexam.es.am2.js"></script>
  </body>

</html>
